.body
{
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
  font-size: large;
}

 .navigation{
  margin: 1% 1% 0 1%;
}

.select
{
  background-color: rgb(245, 245, 245); /*rgb(173, 216, 230)*/
  border-radius: 5px;
  height: 50px;
  width: 170px;
}

.right
{
  margin-right: 1%;
}

.left
{
  margin-left:px;
}

.text
{
  margin-left:900px;
  
}